@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --azulescuro: #0e6973;
    --azulagua: #118c8c;
    --azulclaro: #bad9ce;
    --amarelo: #f2bb16;
    --ouro: #bf820f;
}

*{
    margin: 0px;
    padding: 0px;
}



h1{
    font-family: "sour gummy";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(45deg,#000b6d, #118c8c);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;

  p{
    text-align: center;
    padding-block: 30px;
    font-family: "roboto";
    color: #bad9ce;
  }
}

a{
    text-align: center;
    padding-block: 30px;
    font-family: "Sour gummy";
    color: var(--azulescuro);
    text-decoration: none;
}

.intro{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.intro img{
    height: 300px;
    width: 300px;
}

.intro a{
    width: 300px;
    margin-block: 15px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-family: "Sour Gummy";
    font-size: 18px;
    text-decoration: none;
}

.intro a:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
}

.intro .enter{
    background-image: linear-gradient(#f2bb16,#bf820f);
    color: black;
}

.intro .create{
    background-color: #bad9ce;
    color: #0e6973;
}

.intro p{
    text-align: center;
    padding-block: 40px;
    font-family: "roboto";
    color: #bad9ce;
}

.login{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.login h1{
    font-family: "Sour gummy";
    color: var(--amarelo);
    font-size: 3.5rem;
}

.login p{
    text-align: left;
}

.login input{
    padding: 10px 30px;
    margin-top: -30px;
    border-radius: 10px;
    border: 1px solid var(--amarelo);
}

.login button{
    width: 230px;
    margin-top: 20px;
    margin-block: 10px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-family: "Sour Gummy";
    font-size: 15px;
    background-image: linear-gradient(#f2bb16,#bf820f);
}
.login button:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
}

/*dashboard*/
.logout{
    position: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #7c84c979;
    width: 480px;
    height: 100vh;
    top: 0;
    backdrop-filter: blur(5px);
    transition: 0.2s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.logout.active{
    opacity: 1;
    visibility: visible;
}

.logout .cardout{
    margin-top: 200px;
    margin-inline: 20px;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.5);
    background-image: linear-gradient(to left, #000b6d, #118c8c);
}

.logout .cardout button{
    border: none;
    width: 150px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'sour gummy';
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
}

.logout .cardout button:active{
    transform: scale(0.9);
}

.logout .cardout .btnexit{
    background-color: rgb(61, 146, 80);
    color: white;
}

.allitens{
    overflow: hidden;
    width: 480px;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #f2bb1669, #000b6d ), url(images/beautiful-natural-landscape.jpg);
}

.allitens.hidden{
    display: none;
}

.allitens .container{
    margin: 40px;

    h1{
        font-family: "sour gummy";
        color: white;
        text-transform: uppercase;
    }
}

.allitens .container .contname{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-image: linear-gradient(18deg,rgba(255, 255, 255, 0.397),rgba(128, 128, 128, 0.473));
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(2px);


    a{
        padding-inline: 5px;
    }
}

.mytravel{
    text-align: center;
    margin-top: 30px;
}

.mytravel .card1:active{
    transform: scale(0.9);
}
.mytravel .card1{
    transition: 0.1s ease-in-out;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 195px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to left, #f2bb16,#bf820f);
}

.mytravel .card1 img{
    height: 260px;
    mask-image: linear-gradient(to left,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) 100%);
}

.mytravel .card1 .text{
    text-align: left;
    padding: 20px;

    p{
        text-align: left;
    }
} 

.classcard{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.classcard .carousel{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 910px;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
}

.classcard .carousel .card{
    cursor: pointer;
    width: 500px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    display: flex;
    border-radius: 15px;
    background-image: linear-gradient(to right, #118c8c, #000b6d);

    h1{
        padding-inline: 10px;
        font-size: 1.5rem;
    }
}

.btncarousel button{
    margin-top: 20px;
    background-color: transparent;
    border: none;
}

.IA {
    text-align: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 10px;
    transition: 0.1s ease-in-out;
}

.IA:active{
    transform: scale(0.9);
}

.IA div h1{
    font-size: 1.5rem;
}

.IA div p{
    font-size: 15px;
    margin-top: -15px;
}

.itens{
    margin-bottom: 80px;
}

.checklist{
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 30px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, #118c8c, #7c84c9);
}

.line{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

.line .card{
    transition: 0.2s ease-in-out;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 90px;
    font-size: 0.5rem;
    margin-top: 30px;
    border-radius: 15px;
    padding-top: 20px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, #118c8c, #7c84c9);
}

.pagshidden {
    overflow: hidden;
    width: 480px;
    height: auto;
}




.mytravelopen{
    display: none;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.mytravelopen.active {
    text-align: center;
    justify-content: center;
    display: block; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.418), rgba(68, 68, 209, 0.781)), url(images/ac136ebda04e8a76b11f02e683dc8e1b.jpg);
    padding-top: 20px;
}

.mytravelopen.hidden {
    display: none;
}

.mytravelopen .title{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 30px;
}

.mytravelopen .title h1{
    color: #0e6973;
}

.mytravelopen .content{
    text-align: center;
}
.mytravelopen .content .cards{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   margin-block: 15px;
   background-image: linear-gradient(to left, #f2bb16,#bf820f);
   border-radius: 15px;
   margin-inline: 30px;
   height: 100px;
   color: white;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
   cursor: pointer;
   transition: 0.1s ease-in-out;
}

.mytravelopen .content .cards:active{
    transform: scale(0.9);
}

.next.active{
    display: block;
}

.next{
    display: none;
}

.next .content{
    width: 400px;
    height: 250px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-inline: 30px;
    border-radius: 20px;
    color: white;
    display: flex;
    padding: 10px;
    gap: 10px;
    background-image: linear-gradient(to right, #118c8c, #7c84c9); ;
}

.mytravelopen .date{
    display: flex;
    align-items: center;

    p{
        margin-bottom: -20px;
        font-weight: 500;
        font-size: 20px;
    }

    a{
        cursor: pointer;
    }
}

.nextvoid{
    height: 250px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-inline: 30px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    background-image: linear-gradient(to right, #118c8c, #7c84c9); ;
}

.nextvoid.hidden{
    display: none;
}

.datetraveledit{
    position: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #7c84c979;
    width: 480px;
    height: 100vh;
    top: 0;
    backdrop-filter: blur(5px);
    transition: 0.2s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.datetraveledit.active{
    visibility: visible;
    opacity: 1;
}

.datetraveledit .card{
    height: 310px;
    margin-top: 100px;
    margin-inline: 30px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, #118c8c, #7c84c9); ;
}

.datetraveledit .card input{
    padding: 15px;
    font-family: "sour gummy";
    border: none;
    border-radius: 10px;
}

.datetraveledit .card input:active{
    border: 2px solid #0e6973;
}

.datetraveledit .exit{
    text-align: right;
    align-items: center;
    padding: 20px;
}
.datetraveledit .savedate{
    border: none;
    padding: 15px 30px;
    margin-top: 50px;
    font-family: "sour gummy";
    font-size: 18px;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
    background-image: linear-gradient(to left, #f2bb16,#bf820f);;
}

.datetraveledit .savedate:active{
    transform: scale(0.9);
}

.mytickets{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #118c8c, #7c84c9);
    padding-top: 0px;
    width: 480px;
    height: 100vh;
    top: 0;
    transition: 0.2s ease-in-out;
}

.mytickets.active{
    visibility: visible;
    opacity: 1;
}

.mytickets .exit{
    width: 150%;
    text-align: right;
}

.mytickets div{
    display: flex;
    flex-direction: column;
    margin-inline: 50px;
    text-align: center;
    align-items: center;
}

.mytickets h1{
    text-transform: uppercase;
    color: white;
    font-size: 50px;
}

.mytickets p{
    margin-top: -20px;
    margin-bottom: -20px;
}

.mytickets .selectorfile{
    border: 2px solid #000b6d;
    padding: 70px 20px;
    border-radius: 15px;
    transition: 0.1s ease-in-out;
    
}

.mytickets .selectorfile:active{
    background-color: #7c84c9;
    transform: scale(0.9);
}

.mytickets input{
    font-family: 'sour gummy';
}

.mytickets button{
    border: none;
    padding: 15px 30px;
    margin-top: 50px;
    font-family: "sour gummy";
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: -20px;
    transition: 0.1s ease-in-out;
    background-image: linear-gradient(to left, #f2bb16,#bf820f);
}

.mytickets button:active{
    transform: scale(0.9);
}

.saveDocs{
    border-radius: 15px;
    padding: 15px 50px;
}

#itenspass.hidden{
    display: none;
}

#showdocone{
    display: none;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to left,rgba(255, 255, 255, 0.589), rgba(128, 128, 128, 0.377));
}

#showdocone.active{
    display: block;
}

#showdocone p{
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: -50px;
    font-weight: 500;
}

#itenshosp.hidden{
    display: none;
}

#showdoctwo{
    display: none;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to left,rgba(255, 255, 255, 0.589), rgba(128, 128, 128, 0.377));
}

#showdoctwo.active{
    display: block;
}

#showdoctwo p{
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: -50px;
    font-weight: 500;
}


#itenstour.hidden{
    display: none;
}

#showdocthree{
    display: none;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to left,rgba(255, 255, 255, 0.589), rgba(128, 128, 128, 0.377));
}

#showdocthree.active{
    display: block;
}

#showdocthree p{
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: -50px;
    font-weight: 500;
}

.IAopen.active{
    opacity: 1;
    visibility: visible;
}

.IAopen{
    transition: 0.1s ease-in-out;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 480px;
    background-color: #000b6d88;
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
}

.IAopen .content{
    display: flex;
    flex-direction: column;
    margin-inline: 30px;
    margin-top: 50px;
    gap: 30px;
    height: 80vh;
}


.IAopen .content textarea{
    border-radius: 20px;
    resize: none;
    outline: none;
    border: none;
    padding: 20px;
}

.IAopen .content .result{
    color: white;
}

.IAvoltar{
    margin-bottom: -50px;
    text-align: left;
    padding: 20px 40px;
    align-items: center;
}







.navfixed{
    display: block;
    z-index: 999;
    bottom: 0;
    width: 480px;
    height: 70px;
    position: fixed;
    background-image: linear-gradient(white,rgb(210, 210, 240));
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.2);
}

.navfixed div{
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.navfixed div a{
    padding-inline: 50px;
}

.navfixed div a:hover{
    transform: scale(1.05);
}
