@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --azulescuro: #0e6973;
    --azulagua: #118c8c;
    --azulclaro: #bad9ce;
    --amarelo: #f2bb16;
    --ouro: #bf820f;
}

*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: "sour gummy";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(45deg,#000b6d, #118c8c);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;

  p{
    text-align: center;
    padding-block: 30px;
    font-family: "roboto";
    color: #bad9ce;
  }
}

a{
    text-align: center;
    padding-block: 30px;
    font-family: "Sour gummy";
    color: var(--azulescuro);
    text-decoration: none;
}

.intro{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.intro img{
    height: 300px;
    width: 300px;
}

.intro a{
    width: 300px;
    margin-block: 15px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-family: "Sour Gummy";
    font-size: 18px;
    text-decoration: none;
}

.intro a:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
}

.intro .enter{
    background-image: linear-gradient(#f2bb16,#bf820f);
    color: black;
}

.intro .create{
    background-color: #bad9ce;
    color: #0e6973;
}

.intro p{
    text-align: center;
    padding-block: 40px;
    font-family: "roboto";
    color: #bad9ce;
}

.login{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.login h1{
    font-family: "Sour gummy";
    color: var(--amarelo);
    font-size: 3.5rem;
}

.login p{
    text-align: left;
}

.login input{
    padding: 10px 30px;
    margin-top: -30px;
    border-radius: 10px;
    border: 1px solid var(--amarelo);
}

.login button{
    width: 230px;
    margin-top: 20px;
    margin-block: 10px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-family: "Sour Gummy";
    font-size: 15px;
    background-image: linear-gradient(#f2bb16,#bf820f);
}
.login button:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
}

/*dashboard*/

.allitens{
    overflow: hidden;
    width: 450px;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #f2bb1669, #000b6d ), url(images/beautiful-natural-landscape.jpg);
}

.allitens .container{
    margin: 40px;

    h1{
        font-family: "sour gummy";
        color: white;
        text-transform: uppercase;
    }
}

.allitens .container .contname{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-image: linear-gradient(18deg,rgba(255, 255, 255, 0.397),rgba(128, 128, 128, 0.473));
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(2px);


    a{
        padding-inline: 5px;
    }
}

.mytravel{
    text-align: center;
    margin-top: 30px;
}
.mytravel .card1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 195px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to left, #f2bb16,#bf820f);
}

.mytravel .card1 img{
    height: 260px;
    mask-image: linear-gradient(to left,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) 100%);
}

.mytravel .card1 .text{
    text-align: left;
    padding: 20px;

    p{
        text-align: left;
    }
} 

.classcard{
    display: flex;
    flex-direction: column;
}

.classcard .carousel{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 910px;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
}

.classcard .carousel .card{
    width: 500px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    display: flex;
    border-radius: 15px;
    background-image: linear-gradient(to right, #118c8c, #000b6d);

    h1{
        padding-inline: 10px;
        font-size: 1.5rem;
    }
}

.btncarousel button{

    background-color: transparent;
    border: none;
}











.mytravelopen {
display: none;
}

.mytravelopen.hidden {
    background-image: linear-gradient(rgba(255, 255, 255, 0.418)), url(images/ac136ebda04e8a76b11f02e683dc8e1b.jpg);
    height: 100vh;
}